<%- include('header') %>

<form method="GET" action="/exchange">
    <input name="rate" placeholder="US Dollar Exchange Rate"><br/>
    <input name="amount" placeholder="How much?"><br/>
    <button>Convert</button>
</form>

<%- include('footer') %>